simulations/synthi_top_tb/modelsim/
*cdb
*hdb
*.bak
*~
quartus/incremental_db
quartus/output_files
quartus/db
.#*
*#
simulations/synthi_top_tb/modelsim/
*.qws
*.qsf
simulations/synthi_top_tb/testcase - Kopie.dat
simulations/synthi_top_tb/testcase.dat
